@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $color-black;
}

p {
  font-size: 1.2rem;
}

.footer__header {
  font-size: 1.6rem;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 80%;
  }
}

.footer__list {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.7;
  list-style: none;
}

.footer__list-item-subhead {
  font-weight: 300;
}

.footer__list-item a {
  color: $color-primary;
}
