//---------------- Variables  ------------------//

// Font Variables
$font-primary: 'Roboto', sans-serif;


// Colors Variables

$color-primary: #00acc1;
$color-primary-light: #5ddef4;
$color-primary-dark: #007c91;

$color-secondary: #ef5350;

$color-grey-dark: #424242;
$color-grey-light: #f5f5f5;
$color-grey: #bdbdbd;

$color-black: #212121;
$color-white: #ffffff;

$box-shadow:  rgba(0, 0, 0, 0.4);

// Size Variables

$checkbox-button-width: 5rem;
$checkbox-button-height: 2rem;

$checkbox-circle-width: 2rem;

$checkbox-border-radius: 10rem;




//---------------- Functions  ------------------//




//---------------- Mixins  ------------------//