.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  text-align: center;
}
.clients__images {
  height: 3rem;
}

.banner__clients {
  height: 35rem;
  background-image: url(./banner.jpeg);
  background-size: cover;
}
