.clients__feature--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 10rem 8rem;
    grid-gap: 5rem;
    text-align: center;
    background:#424243;
}

.clients__images--features {
    height: 3rem;
}