@include respond(phone) {
  .burger__button__line {
    position: relative;
    width: 3rem;
    height: 1px;
    background: $color-grey-dark;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
    transition: transform(rotate(45deg));
    z-index: 500;
  }
  .mobile__navbar {
    width: 100%;
    background-color: red;
    position: absolute;
    height: 50px;
    z-index: 2;
  }
}
.burger__button {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  &:burger__button:focus {
    outline: none;
  }
}

// ----------- "X" button style -----------  //
.cross__button {
  position: absolute;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 500;

  &:focus {
    outline: none;
  }
}

.cross__button__line {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 35px;
  height: 1px;
  background: $color-grey-dark;

  &:nth-child(1) {
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    transform: rotate(-45deg);
  }
}
