.burgerBar {
  width: 100%;
  height: auto;
  background-color: $color-grey-light;
}
.burger__button.open {
  display: none;
}
.burger__button {
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  &:burger__button:focus {
    outline: none;
  }
}

.burger__button__line {
  width: 30px;
  height: 1px;
  background: $color-grey-dark;
  margin: 10px;
  transition: transform(rotate(45deg));
}

// ----------- "X" button style -----------  //
.cross__button {
  position: absolute;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 500;

  &:focus {
    outline: none;
  }
}

.cross__button__line {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 35px;
  height: 1px;
  background: $color-grey-dark;

  &:nth-child(1) {
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    transform: rotate(-45deg);
  }
}
