.navbarDesktop {
  display: grid;
  grid-template-columns: auto repeat(5, max-content);

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;

  background-color: $color-white;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  grid-gap: 2.5rem;
  align-items: center;
  justify-items: start;
}

.navigation__item,
.navigation__item a {
  color: $color-blue-dark;
  list-style: none;
  border-bottom: none;
  cursor: pointer;
}
.navigation__item a.active,
.navigation__item a.hover {
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  transition: border-bottom 2s;
}
.navbar__logo {
  height: 5rem;
}

#mobileLogo {
  display: none;
}

@media (max-width: 768px) {
  .navbarDesktop {
    display: none;
  }

  #mobileLogo {
    position: fixed;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-color: red;
  }

  #desktopLogo {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
@media (max-width: 769px) {
  .navbar {
    display: none;
  }
}

.nav__lang--desk {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  padding: 0.5rem 5rem;

  background-color: $color-grey-light;
  font-size: 1.5rem;
  font-weight: 100;
  justify-items: end;
  // align-items: end;

  // moved all the items at the end of the grid
  justify-content: end;
  grid-gap: 0.25rem;
  color: $color-primary;
}

@media (max-width: 768px) {
  .nav__lang--desk {
    display: none;
  }
}
