.nav__mobile {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  transform: translateX(-100%);
  transition: all 0.5s ease 0s;
}

.nav__mobile:checked {
  transition: all 0.5s ease 0s;
}

.nav__mobile.open {
  transform: translateX(0);
}

@media (min-width: 769px) {
  .nav__mobile {
    display: none;
  }
}

.blurred.open {
  filter: blur(0.5rem);
}

.nav__items__mob {
  display: grid;
  font-size: 4.5rem;
  line-height: 5.5rem;
  font-weight: 100;
  text-align: center;
}
.nav__lang--mob {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  padding-top: 10rem;
  color: rgba($color-black, 0.8);
  font-size: 3rem;
  grid-gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
  font-weight: 100;
}

.nav__items__container {
  display: grid;
  grid-template-rows: 4fr 2fr;
  padding-top: 15%;
  background: rgba($color-white, 0.8);
  height: 100vh;
  background: rgba($color-white, 0.8);
  box-shadow: 0 1px 5px rgba($color-black, 0.25);
}
