.gmaps {
  width: 100%;
  height: 35rem;
  border: none;
}
.contact__fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  height: 120vh;
  padding: 5% 10%;
  background-color: $color-grey-light;
  border-left: solid 2rem $color-primary;

  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(6, 1fr) 3fr 1fr;
    grid-row-gap: 2rem;
  }
}

// Legend styling in the grid
.contact__fieldset > :nth-child(1) {
  grid-column: 1 / -1;
}

input,
textarea {
  border-bottom: 0.15rem solid $color-blue-grey;
  &:focus {
    border-bottom: 0.15rem solid $color-primary;
  }
}

input {
  width: 80%;
  @include respond(phone) {
    width: 100%;
  }
}

textarea {
  background-color: rgba(189, 189, 189, 0.2);
}

.button__contact {
  margin-top: 3rem;
  border: 0.2rem solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  border-bottom: none;
  position: relative;
  width: $checkbox-button-width;
  height: $checkbox-button-height;
  appearance: none;
  outline: none;
  background: $color-secondary;
  border-radius: $checkbox-border-radius;
  box-shadow: inset 0 0 0.5rem $box-shadow;
  margin-right: 2rem;

  transition: 0.5s;
}

input:checked[type="checkbox"] {
  background: $color-primary;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: $checkbox-button-height;
  height: $checkbox-circle-width;
  border-radius: $checkbox-border-radius;
  top: 0;
  left: 0;
  background: $color-white;
  transform: scale(1.1);
  box-shadow: 0 0.2rem 0.5rem $box-shadow;
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: calc(#{$checkbox-button-width} - #{$checkbox-circle-width});
}
