.header {
  display: grid;
  height: 95vh;
  grid-template-rows: repeat(12, 1fr);
}

.header__img {
  grid-column: 1/-1;
  grid-row: 1/-1;

  background-image: linear-gradient(
      to left top,
      rgba(0, 124, 145, 0.7),
      rgba(38, 50, 56, 0.8)
    ),
    url(./header_photo.jpg);

  background-position: center;
}

.header__text__container {
  grid-column: 2/-1;
  grid-row-start: 5;
  padding-left: 5vw;
}

.button__header {
  background-color: $color-secondary;
  border: 0.2rem solid $color-secondary;

  &:hover {
    background-color: $color-secondary-dark;
    border: 0.2rem solid $color-secondary-dark;
  }
}

@media (max-width: 769px) {
  .header__text {
    grid-row-start: 8;
  }
}
