header{
}

.header__img {
    height: 95vh;
    background-image: linear-gradient(
    to right bottom,
    rgba(193, 222, 244, 0.3),
    rgba(0, 124, 145, 0.3)),url(https://images.unsplash.com/photo-1519944518895-f08a12d6dfd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=409a6a69f371e4886d01b4d9fce6fc9a&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: top;

    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 16% 89%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 15% 0);

}
.test2 {
    background-color: blue;
    position: absolute;
    z-index: 10;
}

.heading__primary {
    // color: $color-white;
    color: $color-black;

    text-transform: uppercase;
}

.heading__primary--main {
    display: block;
}
.heading__primary--sub {
    display: block;
}