@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  padding: 0;
  height: 100%; }

.navbar,
.navbar___languages,
.contact,
.clients,
.footer__sections,
.footer__footer__container {
  padding: 10vh 8vw; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #212121; }

p {
  font-size: 1.2rem; }

.footer__header {
  font-size: 1.6rem;
  text-transform: uppercase; }

.footer__list {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.5;
  list-style: none; }

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.side-drawer {
  height: 100%;
  background: #f5f5f5;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 50%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out; }

.side-drawer.open {
  transform: translateX(0); }

@media (min-width: 769px) {
  .side-drawer {
    display: none; } }

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 44px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px; }

.toggle-button:focus {
  outline: none; }

.toggle-button__line {
  width: 30px;
  height: 1px;
  background: #424242; }

.navbar {
  display: grid;
  grid-template-columns: auto repeat(5, max-content);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: 300;
  grid-gap: 2.5rem;
  align-items: center; }

.navbar__item {
  color: #007c91; }

.navbar__logo {
  height: 5rem; }

@media (max-width: 768px) {
  .navbar_navigation-items {
    display: none; }
  .navbar_mobile__container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5; } }

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none; } }

.navbar___languages {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  padding: 0.5rem 8rem;
  background-color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 100;
  justify-items: center;
  align-items: center;
  justify-content: end;
  grid-gap: 0.25rem; }

.navbar__languages__item {
  color: #00acc1; }

@media (max-width: 768px) {
  .navbar___languages {
    display: none; } }

.header__img {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(193, 222, 244, 0.3), rgba(0, 124, 145, 0.3)), url(https://images.unsplash.com/photo-1519944518895-f08a12d6dfd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=409a6a69f371e4886d01b4d9fce6fc9a&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 15% 0); }

.test2 {
  background-color: blue;
  position: absolute; }

.heading__primary {
  color: #212121;
  text-transform: uppercase; }

.heading__primary--main {
  display: block; }

.heading__primary--sub {
  display: block; }

.contact {
  background-color: #f5f5f5;
  margin: 10rem; }

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

legend {
  color: #00acc1;
  font-size: 6rem;
  font-weight: 100; }

label {
  display: block;
  color: #424242;
  opacity: 0.7;
  font-size: 3rem;
  font-weight: 100;
  padding-bottom: 5rem; }

input,
textarea {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  font-size: 3rem;
  color: #424242;
  opacity: 0.7;
  font-weight: 100;
  border: none;
  border-bottom: 0.2rem solid #bdbdbd; }

input:focus,
textarea:focus {
  border-bottom: 0.2rem solid #00acc1; }

.contact__error_message {
  color: #ef5350;
  font-size: 1.5rem; }

.contact__fieldset--main {
  border: none;
  border-right: 3px solid #00acc1;
  padding-bottom: 10rem; }

.contact__fieldset--details {
  border: none;
  margin-left: 5rem;
  margin-top: 8rem; }

.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding-top: 10rem;
  padding-bottom: 10rem;
  grid-gap: 5rem;
  text-align: center; }

.clients__images {
  height: 3rem; }

.clients__feature--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding: 10rem 8rem;
  grid-gap: 5rem;
  text-align: center;
  background: #424242; }

.clients__images--features {
  height: 3rem;
  animation: feature-clients-animate 2s ease-in-out; }

@keyframes feature-clients-animate {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 0; } }

.footer {
  background-color: #f5f5f5; }

.footer__sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3vw; }

.footer__footer__container {
  bottom: 0;
  background-color: #ffffff;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(max-content, auto) repeat(3, minmax(min-content, 2rem));
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-gap: 0.5rem; }

.icon__social {
  height: 2.9rem;
  fill: #424242; }
  .icon__social:hover {
    fill: #00acc1; }
