.testContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 10rem 8rem;
    grid-gap: 5rem;
    text-align: center;
  }

.clients__images {
    height: 3rem;
    
}