.navbar___languages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    padding: 0.5rem 8rem 0.5rem 65vw;
    
    background-color: $color-grey-light;
    font-size: 1.5rem;
    font-weight: 100;
}

.navbar___languages a:nth-child(1) {
    grid-column: 21/22;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 0.5rem 8rem;

    background-color: $color-white;
    font-size: 2rem;
    font-weight: 100;
    grid-gap: 1rem;

}

.navbar__logo {
    height: 5rem;
  }
