.features__section{
    padding: 10rem 15rem;
    background: #f5f5f5;
}


.features__text__container {
    padding: 0 5vw;
}

.features__icons__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: #ffffff;
    align-content: center;
    grid-gap: 1rem;


}

.features__details__grid{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 3rem;

align-content: center;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// box-shadow: 0 10px 20px rgba(38,50,56, 0.20), 0 6px 6px rgba(38,50,56, 0.25);


}









// Typography
.features__heading {
    letter-spacing: 0.18rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
    color: rgba(38,50,56, 0.9);
    padding: 0 13% 2rem 13%;
}

.features__subheading {
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: rgba(38,50,56, 0.6);
    padding: 0 5% 5rem 5%;
}

.feature__item,
.feature__item a {
    text-transform: uppercase;
    color: $color-blue-dark;
    opacity: 0.95;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-align: center;
}

.icon__features {
    fill: $color-primary;
    opacity: 0.5;
    height: 6rem;
    width: 10rem;
    padding: 0.75rem 0 0.75rem 0;
    border-bottom: 0.2rem solid rgba($color-blue-dark, 0.4);

  &:hover {
    border-bottom: 0.2rem solid $color-primary;

  }
}


.features__details {
    padding: 3rem;
    background-color: $color-primary;
}

.features__details__heading {
    padding: 1rem;
    text-transform: uppercase;
    color: #f5f5f5;
    color: $color-secondary;
    color: rgba(38,50,56, 0.6);
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.2rem;
    padding-bottom: 1rem;
    text-decoration: none;
    letter-spacing: 0.3rem;
}
.features__details__paragraph {
    padding: 1rem;
    // color: rgba(38,50,56, 0.7);
    color: #f5f5f5;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    letter-spacing: 0.25rem;
}
.featuresSpan{
    color:$color-secondary2;
    color: rgba(38,50,56, 0.6);

    font-size: 4rem;
    font-weight: 300;

}