.features__section {
  background: $color-white;
  padding: 0 10%;
}

.features__text__container {
  padding: 5%;
  h2 {
    padding: 0 13% 0 13%;
  }
  p {
    padding: 0 5% 0 5%;
  }

  @include respond(phone) {
    p,
    h2 {
      padding: 0;
      padding-bottom: 5%;
    }
  }
}

.features__details__grid {
  display: grid;
  grid-template-columns: 2fr 3fr;

  box-shadow: 0 1rem 2rem rgba($color-black, 0.19),
    0 0.6rem 0.6rem rgba($color-black, 0.23);
}

//contains all the feature__containers
.features__icons__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: $color-white;
  grid-gap: 1.5rem;
  text-align: center;
  padding: 5%;
}

// contains icon name and icon
.feature__container {
  align-self: end;
  border-bottom: 0.2rem solid rgba($color-blue-dark, 0.2);
  width: 70%;
  justify-self: center;

  &:hover {
    border-bottom: 0.2rem solid $color-primary;
  }

  &:active {
    border-bottom: 0.2rem solid $color-primary;
  }
}

.feature__icon {
  width: 5rem;
  fill: $color-primary;
  cursor: pointer;
}
.feature__details {
  padding: 3rem;
  background-color: $color-primary;
  min-width: 35rem;
}
.feature__details__container {
  padding-top: 2rem;
}

// Styling of short description at the top of features section

@media (max-width: 769px) {
  .features__section {
    padding: 0;
  }
  .features__details__grid {
    grid-template-columns: 1fr;
  }

  .subheading {
    padding: 0;
  }
}
