.features__section {
  background: $color-white;
  padding: 0 10%;
}

.features__text__container {
  padding: 5%;
}

.features__details__grid {
  display: grid;
  grid-template-columns: 2fr 3fr;

  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

.features__details {
  padding: 3rem;
  background-color: $color-primary;
}

//contains all the feature__containers
.features__icons__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: $color-white;
  grid-gap: 1.5rem;
  text-align: center;
  padding: 5%;
}

// contains icon name and icon
.feature__container {
  align-self: end;
  border-bottom: 0.2rem solid rgba($color-blue-dark, 0.4);
  width: 70%;
  justify-self: center;

  &:hover {
    border-bottom: 0.2rem solid $color-primary;
  }
}

.feature__name,
.feature__name a {
  text-transform: uppercase;
  color: $color-blue-dark;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

.feature__icon {
  width: 5rem;
  fill: $color-primary;
}
.feature__details__container {
  padding: 3rem;
  background-color: $color-primary;
  min-height: 40rem;
}

.feature__heading {
  padding: 1rem;
  text-transform: uppercase;
  color: $color-secondary;
  color: rgba(38, 50, 56, 0.6);
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
  padding-bottom: 1rem;
  text-decoration: none;
  letter-spacing: 0.3rem;
}
.feature__paragraph {
  padding: 1rem;
  color: $color-white;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
}

// Styling of short description at the top of features section
.features__intro__heading {
  letter-spacing: 0.18rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
  color: rgba(38, 50, 56, 0.9);
  padding: 0 13% 2rem 13%;
}

.features__intro__subheading {
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: rgba(38, 50, 56, 0.6);
  padding: 0 5% 0 5%;
}

@media (max-width: 769px) {
  .features__section {
    padding: 0;
  }
  .features__details__grid {
    grid-template-columns: 1fr;
  }

  // .features__icons__grid {
  //   padding: 5%;
  //   grid-gap: 1.5rem;
  //   padding: 2rem 0 0.75rem 0;
  // }
}
