.footer__footer__container {
  bottom: 0;
  background-color: $color-white;
  align-items: center;

  display: grid;
  grid-template-columns: minmax(max-content, auto) repeat(
      3,
      minmax(min-content, 2rem)
    );
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-gap: 0.5rem;
}

.lang__footer {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  grid-gap: 1rem;
}
.lang__footer a:hover,
.lang__footer a:active {
  color: $color-primary;
}

.icon__social {
  height: 3rem;
  fill: $color-grey-dark;

  &:hover {
    fill: $color-primary;
  }
}
