.footer__sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3vw;
  background-color: $color-grey-light;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  @include respond(phone) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    text-align: center;
    grid-gap: 7vh;
  }
}
.footer__list {
  padding-top: 1.5rem;
}

.button__footer {
  margin-top: 2rem;
  border: 0.2rem solid $color-primary;
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-dark;
    border: 0.2rem solid $color-primary-dark;
  }
}
.button__footer a,
a.active {
  color: $color-white;
}

.footer__link,
ul.footer__list li.navigation__item a:hover {
  color: $color-primary;
}
